<!DOCTYPE html>
<html>

<head>
    <title>CChat</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- Appearance -->
    <link rel="stylesheet" href="css/bulma.min.css">
    <script defer src="js/vendor/fontawesome/fontawesome.v5.3.1.all.js"></script>


    <script defer src="js/menu.js"></script>
    <script defer src="js/vendor/vue.js"></script>
    <script defer src="js/client.js"></script>
    <script defer src="js/conv_settings.js"></script>

</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <span class="navbar-item data-convName">Conv settings</span>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="conv_view.html"><span class="data-convName"></span></a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button" href="conv_settings.html">
                                <span class="icon"><i class="fas fa-cog"></i></span>
                                <span>Settings</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>


<div id="vue-convSettings">

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    CChat
                </h1>
                <h2 class="subtitle">
                    Conversation : {{ convName }}
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div id="vue-change-convName" class="field has-addons">
            <div class="control">
                <input class="input" v-model="convName" placeholder="Conversation name">
            </div>
            <div class="control">
                <button class="button is-info" v-on:click="changeConvName">Change conversation name</button>
            </div>
        </div>

       
    </section>
</div>
</body>

</html>