<!DOCTYPE html>
<html>

<head>
    <title>CChat</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- Appearance -->
    <link rel="stylesheet" href="css/bulma.min.css">
    <script defer src="js/vendor/fontawesome/fontawesome.v5.3.1.all.js"></script>

    <script defer src="js/menu.js"></script>
    <script defer src="js/vendor/vue.js"></script>

    <script defer src="js/index.js"></script>

    <script defer src="js/client.js"></script>
    <script defer src="js/conv_list.js"></script>

    <script defer type="text/javascript" src="cordova.js"></script>
    <script defer type="text/javascript" src="js/app.js"></script>

</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top">

        <div class="navbar-brand">
            <span class="navbar-item">CChat</span>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button" href="app_settings.html">
                                <span class="icon"><i class="fas fa-cog"></i></span>
                                <span>Settings</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome in CChat
                </h1>
                <h2 class="subtitle">
                    Select a conversation
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div id="app" class="container">
            <div class="list-group list">
                <a class="list-item is-hoverable" href="#" @click="clickedPlace(conv.id)" :key="conv.id"
                    v-for="conv in convs" class="list-group-item list-group-item-action">{{ conv.name }}</a>
            </div>
            <p>{{message}}</p>
            App version : <strong>{{version}}</strong>
        </div>

    </section>

</body>

</html>