<!DOCTYPE html>
<html>

<head>
    <title>CChat</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- Appearance -->
    <link rel="stylesheet" href="css/bulma.min.css">
    <script defer src="js/vendor/fontawesome/fontawesome.v5.3.1.all.js"></script>

    <script defer src="js/menu.js"></script>
    <script defer src="js/index.js"></script>

    <script defer src="js/vendor/vue.js"></script>
    <script defer src="js/client.js"></script>

    <script defer src="js/start_page.js"></script>

</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <span class="navbar-item">CChat</span>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button" href="app_settings.html">
                                <span class="icon"><i class="fas fa-cog"></i></span>
                                <span>Settings</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome in CChat
                </h1>
                <h2 class="subtitle">
                    Please username
                </h2>
            </div>
        </div>
    </section>


    <div class="section">
        <h2 class="title">Login : </h2>
        <form id="vue-username" @submit.prevent="login">

            <p>{{message}}</p>
            <strong>Username :</strong>
            <div class="control has-icons-left">
                <input class="input" type="text" v-model="usernameInput">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <br>

            <strong>Password :</strong>
            <div class="control has-icons-left">
                <input class="input" type="text" v-model="passwordInput">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <br>

            <button v-on:click="login()" class="button is-info">Login</button>
        </form>
    </div>

</body>

</html>